<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>io.staerk.alfred.currency-conversion</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>52C50F4F-C06D-498E-B2F7-AFF0A7072F26</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1764A639-42CB-45C0-938C-D34487A765F2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D375A60D-F644-4518-82F4-A31AFD98C512</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>83342FF9-1F83-4CFD-945B-F0890A510347</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1AD8DBEC-7E88-407C-A2C2-319B44EA2D38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BC036EA6-E275-4C9E-B3A3-3E89948DF194</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>83342FF9-1F83-4CFD-945B-F0890A510347</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>F8FBA422-4AB2-4417-BBE9-3768ABDC8B4E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F8FBA422-4AB2-4417-BBE9-3768ABDC8B4E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52C50F4F-C06D-498E-B2F7-AFF0A7072F26</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jeppe Stærk</string>
	<key>description</key>
	<string>Foreign exchange rates and currency conversion</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Currency Converter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>curcon</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Fetching rates...</string>
				<key>script</key>
				<string>./node_modules/.bin/run-node index.js "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>index.js</string>
				<key>subtext</key>
				<string>Currency conversion and foreign exchange rates</string>
				<key>title</key>
				<string>Currency Converter</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>BC036EA6-E275-4C9E-B3A3-3E89948DF194</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>tell application "Alfred 4" to search "curcon {query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>6</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1AD8DBEC-7E88-407C-A2C2-319B44EA2D38</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:function}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string>copy</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>83342FF9-1F83-4CFD-945B-F0890A510347</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>52C50F4F-C06D-498E-B2F7-AFF0A7072F26</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Amount copied to clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1764A639-42CB-45C0-938C-D34487A765F2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:function}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>copy</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>F8FBA422-4AB2-4417-BBE9-3768ABDC8B4E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>soundname</key>
				<string>Hero</string>
				<key>systemsound</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.playsound</string>
			<key>uid</key>
			<string>D375A60D-F644-4518-82F4-A31AFD98C512</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># alfred-currency-conversion
&gt; Alfred 3 Workflow - See foreign exchange rates and currency conversion

## Usage
In Alfred, type `curcon`, ⏎, and your amount.

## Highlights
- Set your own base currency (default `EUR`)
- Currencies: `AUD`, `BGN`, `BRL`, `CAD`, `CHF`, `CNY`, `CZK`, `DKK`, `EUR`, `GBP`, `HKD`, `HRK`, `HUF`, `IDR`, `ILS`, `INR`, `ISK`, `JPY`, `KRW`, `MXN`, `MYR`, `NOK`, `NZD`, `PHP`, `PLN`, `RON`, `RUB`, `SEK`, `SGD`, `THB`, `TRY`, `USD`, and `ZAR`
- Auto update rates at 4PM CET on working days
- Input support locale numbers
- Input support for $ (`USD`), € (`EUR`), £ (`GBP`), and ¥ (`JPY`)
- Outputs dates and numbers in locale

## Contributions:
Please feel free to create a PR and/or make a code review!
[GitHub Repository](https://github.com/jeppestaerk/alfred-currency-conversion)

## License
MIT © [Jeppe Stærk](https://staerk.io)</string>
	<key>uidata</key>
	<dict>
		<key>1764A639-42CB-45C0-938C-D34487A765F2</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>1AD8DBEC-7E88-407C-A2C2-319B44EA2D38</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>52C50F4F-C06D-498E-B2F7-AFF0A7072F26</key>
		<dict>
			<key>xpos</key>
			<integer>330</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>83342FF9-1F83-4CFD-945B-F0890A510347</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>BC036EA6-E275-4C9E-B3A3-3E89948DF194</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>D375A60D-F644-4518-82F4-A31AFD98C512</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>F8FBA422-4AB2-4417-BBE9-3768ABDC8B4E</key>
		<dict>
			<key>xpos</key>
			<integer>250</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>v0.2.0</string>
	<key>webaddress</key>
	<string>https://github.com/jeppestaerk/alfred-currency-conversion#readme</string>
</dict>
</plist>
